/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>



&mt {
   flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";        
    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q    &kp L    &mt SQT CMMA    &kp P    &kp B 					    &kp G    &kp F    &kp U    &kp D    &kp K 
		&mt LCTL A    &mt LSHIFT R    &mt LGUI E       &mt LALT N    &kp BSPC 			            &kp SPC    &mt LALT S    &mt LGUI I    &mt LSHIFT T    &mt LCTL O
		&kp Z    &kp W    &mt QMARK DOT     &kp H    &kp J				        &kp C    &kp V    &kp X    &kp Y    &kp M
          				              &trans   &mo 1  				        &mo 2     &trans 
		>;
		};

        
		
		right_layer {
		bindings = <
        &kp BANG  &kp ATSN &kp HASH  &kp DLLR  &kp PRCT    			&kp CRRT  &kp AMPS &kp KMLT &kp LPRN &kp RPRN 
		&mt LCTL TILDE   &mt LSHIFT QMARK  &mt LGUI FSLH   &mt LALT COLN  &kp SCLN 			&kp MINUS  &mt LALT EQUAL  &mt LGUI LBRC   &mt LSHIFT RBRC   &mt LCTL UNDER
		&kp GRAVE  &kp KPLS &kp LBKT &kp RBKT   &kp BSLH    			&kp SQT &kp DQT &kp LT  &kp GT &kp PIPE
					  &trans  &mo 1                                  	&mo 3  &trans 
		>; 
		};	

       		left_layer {
		bindings = <
        &kp F1      &kp F12        &kp DEL      &caps_word      &kp ESC		        &kp  TAB    &kp HOME       &kp PG_DN        &kp PG_UP   &kp END 
		&sk LCTL    &sk LSHIFT    &sk LGUI     &sk LALT    &kp  CAPS		        &kp RETURN    &kp LEFT      &kp DOWN    &kp UP    &kp RIGHT 
		&kp F2      &kp F3      &kp F4      &kp F5    &kp F6 	            &kp F7     &kp F8    &kp F9     &kp F10     &kp F11 
					                          &trans      &mo 3  		        &mo 2      &trans 
		>;
		};		
        num_layer {
		bindings = <
		&kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5 			&kp NUM_6 &kp NUM_7   &kp NUM_8   &kp NUM_9  &kp NUM_0
		&mt LCTL FSLH   &mt LSHIFT KMLT &mt LGUI MINUS  &mt LALT KPLS &kp EQUAL  						&kp DOT  &mt LALT LEFT  &mt LGUI DOWN  &mt LSHIFT UP &mt LCTL RIGHT 
		&bt BT_CLR  &bt BT_NXT &bt BT_PRV &out OUT_TOG &kp C_MUTE  				&kp C_VOL_DN  &kp C_VOL_UP    &kp C_PREV    &kp C_NEXT    &kp C_PP   
					 &trans &trans					&trans &trans 
		>;
		};
	};
};
